@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    transition: 0.5s;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #050505;
}
.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    from{transform: rotateX(-30deg) rotateY(0deg);}
    to{transform: rotateX(-30deg) rotateY(360deg);}
}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
    transition: 0.5s;
}
.after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: var(--color,#00ec00);
    transform: rotateX(90deg) translateZ(-150px);
}
.before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: var(--color,#0f0);
    transform: rotateX(90deg) translateZ(-230px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(0,255,0,0.4),
    0 0 300px rgba(0,255,0,0.6),
    0 0 400px rgba(0,255,0,0.8);
    transition: 0.5s;
}
.colors{
    position: absolute;
    top: 0;
    padding: 0px 15px 5px 15px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    filter: drop-shadow(0 0 20px #888);
    border-radius: 0 0 50px 50px;
}
.colors span{
    position: relative;
    width: 20px;
    height: 20px;
    background: var(--clr);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.colors span:hover{
    filter: brightness(0.5);
    scale: 1.25;
    transition: 0.5s;
}
.colors span.active{
    filter: drop-shadow(2px 2px 4px #888);
    scale: 1.5;
    transition: 0.5s;
}
.clock{
    position: absolute;
    top: 69px;
    display: flex;
    gap: 10px;
    font-family: 'Anton', sans-serif;
}
.clock .digital{
    position: relative;
    width: 60px;
    height: 120px;/*
    box-shadow: 20px 20px 20px -10px rgba(0,0,0,0.15),
    inset 15px 15px 10px rgba(255,255,255,0.5),
    -15px -15px 35px rgba(255,255,255,0.35),
    inset -1px -1px 10px rgba(0,0,0,0.2);*/
}
.clock .digital .screen{
    position: absolute;
    inset: 20px;/*
    box-shadow: 5px 5px 15px 0 #152b4a66,
    inset 5px 5px 5px rgba(200,200,200,0.35),
    5px 5px 15px rgba(255,255,255,1);*/
}
.clock .digital .screen::before{
    content: attr(data-text);
    position: absolute;
    bottom: -2.5px;
    left: 50%;
    transform: translateX(-50%) scale(0.75);
    letter-spacing: 0.05em;
    color: #aaa;
    text-transform: uppercase;
    
}
.clock .digital .time{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock .digital .time div{
    position: relative;
    font-size: 2.9em;
    color: var(--clr);
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}
.clock .digital:nth-last-child(1) .time div{
    color: transparent;
    -webkit-text-stroke: 2px var(--clr);
}